.main-title {
  text-align: center;
  padding:5%;
  font-size: 3em;
}

.shadow-like {
  transition: transform 0.1s;
}

.shadow-like:hover {
  transform: scale(1.05, 1.05);
  box-shadow: 0px 20px 50px black;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Quicksand', sans-serif;
}

nav a {
  font-size: 1.5em;
}